@value cocktailDark from '../../common/colors.css';
@value mediaQueryIPad, mediaQueryDesktop from '../../common/size.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 120px below = nav + footer heights */
  height: calc(100vh - 120px);
}

.login {
  width: 100%;
  max-width: 30rem;
  padding: 0 1.8rem;
  text-align: center;
}

.loginTitle {
  display: block;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.loginBtns li {
  margin-bottom: 0.8rem;
}

.loginBtns li:last-of-type {
  margin-bottom: 0;
}

.loginBtns button {
  width: 100%;
  padding: 0.4rem 0;
  font-size: 1.2rem;
  border: 2px solid cocktailDark;
  border-radius: 2px;
  transition: all 0.25s;
}

.loginBtns button:hover {
  color: #fff;
  background-color: cocktailDark;
}

@media screen and (min-width: mediaQueryIPad) {
  .container {
    position: relative;
    justify-content: flex-end;
    padding: 2rem 0;
  }

  .login::before {
    content: 'One martini is alright, two is too many, three is not enough';
    display: block;
    position: fixed;
    top: 50%;
    left: 3rem;
    transform: translateY(-52%);
    max-width: 50%;
    font-family: 'Heebo', sans-serif;
    text-align: left;
    font-size: 7rem;
    font-weight: 700;
    line-height: 6rem;
  }

  .login {
    max-width: 30%;
    margin-right: 3rem;
  }
}

@media screen and (min-width: mediaQueryDesktop) {
  .login::before {
    left: 4rem;
    font-size: 10rem;
    line-height: 8rem;
  }

  .login {
    margin-right: 8rem;
  }
}
