@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Ubuntu:wght@400;500&display=swap');
@value cocktailDark from 'common/colors.css';
@value mediaQueryIPad, mediaQueryDesktop from 'common/size.css';

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: cocktailDark;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 1rem;
  height: 60px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

.menus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menus li {
  position: relative;
}

.menus a {
  display: block;
  padding: 0.8rem;
}

.menus a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 1.2px;
  background-color: cocktailDark;
  transition: width 0.25s;
}

.menus a:hover::after,
.menus .active::after {
  width: 90%;
}

@media screen and (min-width: mediaQueryIPad) {
  .nav {
    padding: 0 3rem;
  }

  .menus {
    justify-content: flex-end;
  }
}

@media screen and (min-width: mediaQueryDesktop) {
  .nav {
    padding: 0 4rem;
  }
}
